body {
    font-family: 'Open Sans', sans-serif;
    background-color: #0d1b2a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 400px;
    background-color: #1b263b;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.header img {
    width: 150px;
    margin-bottom: 20px;
}

.header h1 {
    color: #e0e1dd;
    margin-bottom: 10px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    color: #e0e1dd;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #415a77;
    border-radius: 5px;
    background-color: #778da9;
    color: #e0e1dd;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #415a77;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.extra-links {
    margin-top: 10px;
    color: #e0e1dd;
}

#registerContainer {
    display: none;
    margin-top: 20px;
}

button:hover {
    background-color: #0d1b2a;
}